
/* These are the requirements */

.container {
    font-family: 'Montserrat', sans-serif;
    color: #777;
    font-size: 18px;  
   }

/*fixed nav bar styling*/
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: solid 5px grey;
    z-index: 1;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: darkturquoise;
    text-align: center;
   /* padding: 14px 16px;*/
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: white;
    color: darkturquoise;
  }

h1 {
    font-family: 'Roboto', sans-serif;
    position: relative;
    float: left;
    color: white;
    text-align: center;
    vertical-align: middle;
    /* border-left: 12px blue solid; */
    width: 25%;
    height: 50px;
    margin: 0px;
    font-size: 26px;
    background:darkturquoise;
    left: 9.5%; 
    padding-top: 22px;
    /* padding-bottom: 8px; */
}

h2{
  position: relative;
  font-size: 22px;
  color: darkturquoise;
  width: 80%;
  border-bottom: solid grey;
  left: 8%;
  padding:10px;
}


.nav {
    background: white;
    color: darkturquoise;
    text-align: right;
    position: relative;
    float: right;
    width: 40%;
    height: 50px;
    top: 30px;
    right: 8px;
    margin-right: 20%;
    
  
    
}



.nav li {
    
    /* background: blue; */
    text-decoration: none;  
    display: inline-block;
    /*text-decoration: none;  
    display: inline-block;
    padding: 10px;*/
    
    
}

a:link {
    text-decoration: none;
    color: darkturquoise;
    font-size: 16px;
    padding:0px;
}

.content {
    position: static;
    height: 100%;
    width: 100%;
    margin-top: -45px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/beehive.jpg);
}

.content-box {
        overflow: auto;
        position: relative;
        height: 420px;
        width: 80%;
        max-width: 100%;
        border: 5px solid #a9a9a9;
        background-color: white ;
        margin: auto;
        
 
}

.content-title {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    left: 65px;
    top: 8px
}




#bio-image {
    position: relative;
    float: left;
    padding: 20px;

}

.content-inside{
    position: relative;
    float: left;
    text-align: justify;
    margin-right: 20px;
}

footer {
    background-color: grey;
    border-top: solid 5px darkturquoise;
    width: 100%;
    height: 50px;

}

#contacts {
  text-align: center;
  font-size: 16px;
  color: black;
  text-emphasis: bolder;
  
}



/* Main content */
.main {
  margin-top: 120px; /* Add a top margin to avoid content overlay */
}



.port-squares{
  float: left;
  margin: 7px;
  padding: 10px
  
}

.label{
  background-color: darkturquoise;
  text-align: center;
  font-size: 14px;
  color: white;
  padding: 8px;
  text-emphasis: bolder;
  position: relative;
  bottom: 45px;
}

/*portfolio flexbox*/
.port-container {
    position: sticky;
    background-color: white;
    width: 83%;
    height: 420px;
    margin: auto;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  /* border: 1px solid silver; */
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  
  .wrap li {
    margin: 10px;
    background: darkturquoise;
  }

/* Contatct Me form */
  /* * {box-sizing: border-box;} */

input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  position: relative;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  /* text-align: center; */
  vertical-align: middle;
  padding-left: 40px;
  padding-right: 40px;
}

