
/* These are the requirements 

   */

body {
    font-family: 'Montserrat', sans-serif;
    color: #777;
    
    
   }

.wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

h1 {
    font-family: 'Roboto', sans-serif;
    float: left;
    position: relative;
    color: white;
    text-align: left;
    background-color: DarkTurquoise;
    border-left: 12px blue solid;
    padding: 14px;
    width: 100%;
    margin: auto;
    font-size: 44px
    
}


header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 100%;
}


.wrapper .nav {
    float: right;
    position: relative;
    color: white;
    text-align: right;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    font: 12px; 
    bottom: 52px;
    
}

.nav li {
    text-decoration: none;  
    display: inline-block;
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: white;
}

.content-box {

        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        /* height: 1000px; */
        width: 80%;
        max-width: 100%;
        border: 5px solid #a9a9a9;
        background-color: linen ;
 
}



.content .inner{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(../images/beehive.jpg);

}

img#pic {
    position: absolute;
    margin: 20px;
    float: left;

}

.footer .inner{
    background-color: grey;
    border-top: solid 5px darkturquoise;
}

#contacts {
  text-align: center;
  font-size: 18px;
  color: black;
  
}






